<html>
    <head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    </head>
    <body>
        <div class="container">
            <div class="row pt-5">
                <div class="col-4"></div>
                <div class="col-4">
                <form action="{{ url_for('add_abbr') }}" method='post'> 
                    <div class="form-group">
                        <label for="abbr">Language code:</label>
                        <input type='text' id='abbr' name="abbr" class="form-control"></input>
                    </div>
                    <input type='submit' class="btn btn-primary" ></input>
                </form>
                </div>
                <div class='col-4'></div>
            </div>
            <table class="table">
                <thead class="thead-light">
                    <td scope="col">
                        <strong>Language</strong>
                    </td>
                    <td scope="col">
                        <strong>Abbreviation</strong>
                    </td>
                </thead>
                {% for x in abbr_r %}
                <tr>
                    <td scope="row">{{x[0]}}</td>
                    <td scope="row">{{x[1]}}</td>
                    
                </tr>
                {% endfor %}
            </table>
            <a type="submit" href="/" class="btn btn-primary">BACK</a>
        </div>
    </body>
</html>